//----------  FONT FAMILY  ----------//

.body {
    font-family: 'Barlow', sans-serif;
}

//----------  FONT SIZE  ----------//


.text-hobbies {
    font-size: 1rem;
}

.bg-left-bloc {
    font-size: 20px;
}

.iconPrint {
    font-size: 25px;
}

.icon-close,
.bg-left-bloc h1,
.title {
    font-size: 30px;
}

//----------  FONT WEIGHT  ----------//

.iconPrint p,
.charts h2,
.subtitle,
.title,
.bg-left-bloc h1,
.name {
    font-weight: bold;
}

//----------  TEXT  ----------//

.charts h2,
.subtitle,
.title h1,
.bg-left-bloc h1,
.name {
    text-transform: uppercase;
}

.text {
    text-align: justify;
}

.charts h2 {
    text-align: center;
}