//----------  FONT FAMILY  ----------//

.body {
    font-family: 'Barlow', sans-serif;
}

//----------  FONT SIZE  ----------//

.text-hobbies {
    font-size: 15px;
}

.bg-left-bloc {
    font-size: 20px;
}

.bg-left-bloc h1 {
    font-size: 30px;
}

//----------  FONT WEIGHT  ----------//

.bg-left-bloc h1,
.name {
    font-weight: bold;
}