//----------  FONT FAMILY  ----------//

.error,
.body {
    font-family: 'Barlow', sans-serif;
}

.error h1 {
    font-family: 'blasphem', Arial;
}

//----------  FONT SIZE  ----------//

.text-hobbies {
    font-size: 1rem;
}

.text-error,
.bg-left-bloc {
    font-size: 20px;
}

.text-error h3,
.iconPrint {
    font-size: 25px;
}

.text-error-page,
.icon-close,
.bg-left-bloc h1,
.title {
    font-size: 30px;
}

//----------  FONT WEIGHT  ----------//

.text-error h4,
.iconPrint p,
.charts h2,
.subtitle,
.title,
.bg-left-bloc h1,
.name {
    font-weight: bold;
}

.text-error h3 {
    font-weight: bolder;
}


//----------  TEXT  ----------//

.charts h2,
.subtitle,
.title h1,
.bg-left-bloc h1,
.name {
    text-transform: uppercase;
}

.text {
    text-align: justify;
}

.charts h2 {
    text-align: center;
}