.bg-icon {
    display: inline-block;
    text-align: center;
    border: 5px solid white;
    border-radius: 50%;
    background-color: white;
    color: $text-color-2;
    margin: 0 20px;
    width: 25px;
    height: 25px;
}