//----------   PICTURE    ----------//

$bgHeader: "assets/bg-header.png";
$bgBottomHeader: "assets/bottom-header.jpg";

//----------  BACKGROUND  ----------//

$bg-color-1: whitesmoke;
$bg-color-2: #303b3f;
$bg-color-3: #4bacc6;
$bg-color-4: #3690a8;
$bg-color-5: #1e1e1e;
$bg-color-6: #31464b;


//----------     COLOR    ----------//

$text-color-1: white;
$text-color-2: #303b3f;
$text-color-3: #4bacc6;

//----------     WIDTH    ----------//

$width-bar: (
    'windows': 90%,
)