body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.error,
.text-title-error,
.icon-close,
.circle {
  position: absolute;
}

.bg-point-icon-info,
.bloc-error,
footer,
.page-pdf,
#bottom-bloc-right,
#hobbies,
.left-bloc,
header,
.circle,
.little-round {
  position: relative;
}

//----------    COLOR    ----------//

footer,
.bg-left-bloc,
.name {
  color: $text-color-1;
}

//----------     BOX     ----------//

.bloc-text,
section,
.bg-left-bloc,
.left-bloc {
  box-sizing: border-box;
}

//----------   MARGIN    ----------//

.title-format {
  padding: 5px 0 4px 0;
}
