.title {
  padding-left: 10px;
  margin: 30px 0 20px 0;
}

.subtitle,
.title {
  color: $text-color-3;
}

.text {
  margin: 0 10px;
}

.icon-subtitle {
  width: 0;
  height: 0;
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 20px solid black;
  margin-right: 10px;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 10px;

  & span {
    margin-right: 15px;
  }
}
