.bloc-error {
  height: 100vh;
}

#home,
.left-bloc,
.bg-left-bloc,
.bg-header {
  height: 100%;
}

#bottom-bloc-right {
  height: 202px;
}

#hobbies {
  height: 202px;
}

.telescope {
  height: auto;
}

.little-round {
  height: 50px;
}

.circle,
.circle2,
.circle2-1,
.circle2-2,
.circle2-3,
.circle2-4 {
  height: 300px;
}
