.bg-icon-skill {
  width: 28px;
}

.svgIconSkill {
  width: 44px;
}

.little-round,
.telescope {
  width: 50px;
}

.all-circle {
  width: 90%;
}

.bloc-error,
#root {
  width: 100vw;
}

.bg-header,
.bg-left-bloc,
.bloc-error,
.bloc-text,
footer,
header,
main,
.page-pdf,
section {
  width: 100%;
}

.subtitle,
.text-object {
  width: 270px;
}

.circle {
  width: 300px;
}

.charts-group {
  width: 600px;
}

.left-bloc {
  width: 400px;
}
