.telescope {
  width: 50px;
}

.all-circle {
  width: 90%;
}

.bloc-error,
#root {
  width: 100vw;
}

.page-pdf,
.bloc-error,
footer,
.bloc-text,
section,
main,
.bg-left-bloc,
header,
.bg-header {
  width: 100%;
}

.circle {
  width: 300px;
}

.charts-group {
  width: 600px;
}

.left-bloc {
  width: 400px;
}

.little-round {
  width: 50px;
}
