.circle {
    z-index: 11;
    background-image: url(../assets/photo-profil.jpg);
    background-size: 300px;
    border: 20px solid $bg-color-4;
    margin: 50px;
    top: 50%;
    right: 2.5%;
    transform: translateY(-50%);
    
    // & .circle2,
    // .circle2-1,
    // .circle2-2,
    // .circle2-3,
    // .circle2-4 {
    //     background-color: transparent;
    //     border: 10px solid transparent;
    //     margin: -10px;
    //     top: 0;
    //     left: 0;
        
    //     & .little-round {
    //         display: block;
    //         border-style: solid;
    //         background: none;
    //         width: 0;
    //         height: 0;
    //     }
    // }
    // & .circle2 {
    //     z-index: 12;
    //     transform: rotate(72deg);
    //     & .little-round {
    //         border-width: 0 40px 20px 20px;
    //         border-color: transparent transparent yellow transparent;
    //     }
    // }
    // & .circle2-1 {
    //     z-index: 13;
    //     transform: rotate(144deg);
    //     & .little-round {
    //         border-width: 0 40px 20px 20px;
    //         border-color: transparent transparent yellow transparent;
    //     }
    // }
    // & .circle2-2 {
    //     z-index: 14;
    //     transform: rotate(226deg);
    //     & .little-round {
    //         border-width: 0 40px 20px 20px;
    //         border-color: transparent transparent yellow transparent;
    //     }
    // }
    // & .circle2-3 {
    //     z-index: 15;
    //     transform: rotate(298deg);
    //     & .little-round {
    //         transform: translateX(-20px);
    //         border-width: 0 80px 30px 10px;
    //         border-color: transparent transparent yellow transparent;
    //     }
    // }
    // & .circle2-4 {
    //     z-index: 16;
    //     transform: rotate(360deg);
    //     & .little-round {
    //         border-width: 0 40px 20px 20px;
    //         border-color: transparent transparent yellow transparent;
    //     }
    // }
}


// @keyframes roll {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }